/* Variables */
$purple-bg: #290742;
$dark-bg: #170027;
$button-bg: #9e6dc2;
$white: #fff;
$light-purple: #fbf6ff;
$green: #4fff4b;
$darkColor: #121212;


/* Global */
html{
    *{
    box-sizing: border-box;
    text-decoration: none;
    }

    body{
        overflow-x: hidden;
        width: 100vw;
        height: 100%;
    }

    scroll-padding-top: 110px;
    scroll-behavior: smooth;
}



main{
    overflow: hidden;
}


#home{ 
    background: $purple-bg;
    border-color: $green !important;
    header{
        background: $purple-bg;
        border-color: $green !important;

        .navbar-toggler[aria-expanded="false"]{
            margin: 0 !important;
        }
    }
}

footer{
    #contact{
        a{
            height: 40px;
            width: 40px;
            ion-icon{
                color: $darkColor;
                height: 30px;
                width: 30px;
            }
        }
    }
}

@media only screen and (min-width: 768px) { /* Desktop */
    main{
        height: 50vh !important;
    }
    
}

@media only screen and (max-width: 768px) { /* mobile */
    .border, .card{
        border: none !important;
    }

    .justify-content-center {
        
        justify-content: flex-start !important;
    }
}
