@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root {
    --bgMenu: #290742;
    --bgEditor: #000000e5;
    --font: 'Poppins', sans-serif, Arial;
    --UserAndHoverColor: #454545;
    --paternColor: #faf9f9;
}


*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--font);
}

html{
    scroll-padding-top: 110px;
    scroll-behavior: smooth;

    body{
        overflow-x: hidden;
        width: 100vw;


        header{
            padding: 1rem 2rem;
            background-color: var(--bgMenu);
            max-width: 150px !important;
            height: 100vh;


            #menu {
                img{
                    width: 2rem;
                    height: 1rem;
                }

                a{
                    font-size: 1rem;
                    color: var(--paternColor);
                }
            }


            #profile{
                padding-bottom: 7rem;

                img{
                    height: 4rem;
                    width: 4rem;
                    border-radius: 50%;
                    box-shadow: #0000003d 0px 3px 8px;;
                }


                h3{
                    color: var(--paternColor);
                    font-size: 1.5rem;
                }

                #checkIcon{
                    height: 1.5rem;
                    width: 1.5rem;
                    bottom: 0;
                    left: 75%;
                    box-shadow: #0000003d 0px 3px 8px;
                }
            }

            ul li{
                a:hover{
                    text-decoration: underline !important;
                }
            }
        }

        main{
            #infos{

                .btn-outline-primary{
                    border-color: var(--bgMenu);
                    color: var(--bgMenu);
                    transition: all .3s ease-in;
                    &:hover{
                        background-color: var(--bgMenu);
                        color: var(--paternColor);
                    }
                }
                #postLength{
                color: var(--UserAndHoverColor);
                gap: 10px;

                h3, span{
                    font-size: 1rem;
                }
                }
            }

            #posts{
                table{
                    border-spacing: 30px;
                    border-collapse: separate;

                }
                .cell {
                    td{
                        height: 6rem;
                        padding-right: 20px;

                    }
                }
            }

        }
    }   
}

#editor{
    background-color: var(--bgEditor);
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--paternColor);

    .btn-outline-primary{
                    border-color: var(--bgMenu);
                    transition: all .3s ease-in;
                    background-color: var(--bgMenu);
                    color: var(--paternColor);
                    
                    &:hover{
                        background-color: #121212;
                        border-color: #121212;
                    }
                }
}