@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

    $bgMenu: #290742;
    $bgEditor: #000000e5;
    $bgLogin: #ffffff;
    $font: 'Poppins', sans-serif, Arial;
    $UserAndHoverColor: #454545;
    $paternColor: #faf9f9;
    $textColor: #290742;



*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: $font;
}


    body{
        overflow-x: hidden;
        width: 100vw;


        header{
            height: 100vh ;

            background-color: $bgMenu;



            #menu {
                img{
                    width: 2rem;
                    height: 1rem;
                }

                a{
                    font-size: 1rem;
                    color: $paternColor;
                }
            }


            #profile{

                img{
                    height: 4rem;
                    width: 4rem;
                    border-radius: 50%;
                    box-shadow: #0000003d 0px 3px 8px;;
                }


                h3{
                    color: $paternColor;
                    font-size: 1.5rem;
                }

                #checkIcon{
                    height: 1.5rem;
                    width: 1.5rem;
                    bottom: 0;
                    left: 75%;
                    box-shadow: #0000003d 0px 3px 8px;
                }
            }

            ul li{
                a:hover{
                    text-decoration: underline !important;
                }
            }
        }

        main{
            #infos{

                .btn-outline-primary{
                    border-color: $bgMenu;
                    color: $bgMenu;
                    transition: all .3s ease-in;
                    &:hover{
                        background-color: $bgMenu;
                        color: $paternColor;
                    }
                }
                #postLength{
                color: $UserAndHoverColor;
                gap: 10px;

                h3, span{
                    font-size: 1rem;
                }
                }
            }

            #posts{
                table{
                    border-spacing: 30px;
                    border-collapse: separate;

                }
                .cell {
                    td{
                        height: 6rem;
                        padding-right: 20px;

                    }
                }
            }

        }
    }   


#editor{
    background-color: $bgEditor;
    width: 600px;
    height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $paternColor;

    .btn-outline-primary{
        border-color: $bgMenu;
        transition: all .3s ease-in;
        background-color: $bgMenu;
        color: var(--paternColor);
        
        &:hover{
            background-color: #121212;
            border-color: #121212;
        }
    }
}


@media only screen and (max-width: 700px) {
    header{
        height: 20vh !important;
    }

    .cell td{
        
        padding: 0 !important;
        text-align: justify;
    }
}